apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
images:
- digest: gmail.com/gitopsfc:e4f4a08647fb8c2f4997d006225e3b2175c6f4fa
  name: javaserver
  newName: hefi1413
