apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
images:
- name: javaserver
  newName: /gitopsfc
  newTag: ffe9491a0c1c17725e27023cff7901a4eecde80a
