name: CD Gitops

on:
  push:
    branches: [main]

jobs:
  build:
    name: Build
    environment: gitops
    runs-on: ubuntu-latest

    steps: 
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Image to Dockerhub
      uses: docker/build-push-action@v1.1.0
      with: 
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: hefi1413/gitopsfc
        tags: ${{ github.sha }},latest


